absl-py==2.1.0
appnope==0.1.4
asttokens==2.4.1
astunparse==1.6.3
attrs==24.1.0
autobahn==19.11.2
Automat==22.10.0
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
comm==0.2.2
constantly==23.10.4
cryptography==43.0.0
curl_cffi==0.10.0
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
flatbuffers==24.3.25
frozendict==2.4.6
gast==0.6.0
google-pasta==0.2.0
grpcio==1.67.0
h5py==3.12.1
html5lib==1.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
ipykernel==6.29.4
ipython==8.25.0
jedi==0.19.1
kiteconnect==5.0.1
libclang==18.1.1
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.1
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
multitasking==0.0.11
namex==0.0.8
nest-asyncio==1.6.0
numpy==2.2.3
opt_einsum==3.4.0
optree==0.13.0
packaging==24.1
pandas==2.2.3
parso==0.8.4
peewee==3.17.9
pexpect==4.9.0
platformdirs==4.3.6
prompt_toolkit==3.0.47
protobuf==4.25.5
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
Pygments==2.18.0
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
pyzmq==26.4.0
requests==2.32.3
rich==13.9.2
service-identity==24.1.0
setuptools==70.1.0
six==1.17.0
soupsieve==2.6
stack-data==0.6.3
termcolor==2.5.0
tornado==6.4.1
traitlets==5.14.3
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.0.4
wheel==0.44.0
wrapt==1.16.0
yfinance==0.2.61
zope.interface==6.4.post2
