beautifulsoup4==4.13.4
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
curl_cffi==0.12.0
exchange_calendars==4.11
frozendict==2.4.6
idna==3.10
korean-lunar-calendar==0.3.1
multitasking==0.0.12
numpy==2.3.2
pandas==2.3.1
pandas_market_calendars==5.1.1
peewee==3.18.2
platformdirs==4.3.8
protobuf==6.31.1
pycparser==2.22
pyluach==2.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
soupsieve==2.7
toolz==1.0.0
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
websockets==15.0.1
yfinance==0.2.65
