absl-py==2.1.0
asttokens==2.4.1
astunparse==1.6.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.6
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.0.1
flatbuffers==24.3.25
gast==0.5.4
google-pasta==0.2.0
grpcio==1.64.0
h5py==3.11.0
idna==2.10
importlib_metadata==7.1.0
ipykernel==6.29.4
ipython==8.18.1
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==5.7.2
keras==3.3.3
libclang==18.1.1
lxml==4.6.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.3.2
multitasking==0.0.9
mysql-connector-python==8.0.23
namex==0.0.8
nest-asyncio==1.6.0
numpy==1.26.4
openpyxl==3.0.9
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pandas==1.1.5
pandas-ta==0.3.14b0
parso==0.8.4
platformdirs==4.2.1
plotly==5.3.1
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
pure-eval==0.2.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2020.4
pywin32==306
pyzmq==26.0.3
requests==2.25.1
rich==13.7.1
selenium==3.141.0
six==1.15.0
stack-data==0.6.3
tenacity==8.0.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tornado==6.4
traitlets==5.14.3
typing_extensions==4.11.0
urllib3==1.26.2
wcwidth==0.2.13
Werkzeug==3.0.3
wrapt==1.16.0
yfinance==0.1.63
zipp==3.18.1
